@using System.Security.Claims


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DailyApartmentsMVC</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/DailyApartmentsMVC.styles.css" asp-append-version="true" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap" rel="stylesheet">

    @*Auto complete links*@
    <link href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet">

    @*Date range links*@
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <script src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/moment/moment.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary px-5">
            <div class="container-fluid">
                <a class="navbar-brand" asp-controller="TodoTasks" asp-action="Index" style="font-family: 'Abril Fatface', cursive;">
                    Dailyapartments
                </a>
                <div class="collapse navbar-collapse" id="navbarColor01">
                    <ul class="navbar-nav me-auto">
                          
                        
                        @if(User.IsInRole("guest"))
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Guest" asp-action="Search">Пошук</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Guest" asp-action="Bookings">Мої бронювання</a>
                            </li>
                        }
                        @if (User.IsInRole("propertyOwner"))
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="PropertyOwner" asp-action="ListProperties">Мої оголошення</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="PropertyOwner" asp-action="AddProperty">Додати оголошення</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="PropertyOwner" asp-action="ListBookings" asp-route-id="-1">Бронювання</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="PropertyOwner" asp-action="Statistics" asp-route-id="-1">Аналітика</a>
                            </li>
                        }

                    </ul>
                    @if(!User.IsInRole("guest") && !User.IsInRole("propertyOwner"))
                    {
                        <form class="d-flex">
                            <a asp-action="Register" 
                               asp-controller="Account"
                               class="btn btn-sm btn-success p-2 mx-3">Зареєструватися</a>

                            <a asp-action="Login" 
                               asp-controller="Account" 
                               class="btn btn-sm btn-secondary p-2">Увійти</a>

                        </form>

                    }
                    else
                    {
                        <form class="d-flex align-items-center">
                           <h5 class="p-2 mx-3" style="color: #FFF;">@User.FindFirst(ClaimTypes.Name)?.Value</h5>
                           <a asp-action="Logout"
                              asp-controller="Account">
                                <img src="https://i.ibb.co/VLxqpdC/icons8-logout-50.png" width="30" />
                           </a>
                        </form>
                    }
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - DailyApartmentsMVC - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>


    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
